# Core app
streamlit
bokeh
streamlit_bokeh_events

# Data handling
pandas
numpy

# API calls
requests
openrouteservice
polyline

# Geo utilities
geopy

# Machine learning
scikit-learn
xgboost

# Visualization
matplotlib
folium
streamlit_geolocation
